:root {
    --primary-color: rgb(255, 255, 255);
    --secondary-color: rgb(218, 41, 123);
    --bg-color: rgb(255, 255, 255);
    --font-color: rgb(3, 3, 3);
    --heading-color: rgb(119, 65, 204);
}

[data-theme="dark"] {
    --primary-color: rgb(0, 0, 0);
    --secondary-color: rgb(51, 37, 112);
    --bg-color: rgb(0, 0, 0);
    --font-color: rgb(245, 233, 233);
    --heading-color: rgb(20, 165, 85);
}


body {
    background-color: var(--bg-color);
    color: var(--font-color);
}

h1 {
    color: var(--heading-color);
}
